<div class="container">
    <div class="row" style="margin: 20px 0 20px 0;">
        <div class="col">
            <button type="button" class="btn goBackBtn" (click)="goBack()">Back</button>
        </div>
    </div>
    <div class="row">
        <div class="card m-2">
            <img style="height: 100px; width: 100px;" [src]="prd?.image" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title title">
                    <span>{{prd?.title}}</span>
                </h5>
                <div class="card-text">
                    <div class="row">
                        <span class="price">{{prd?.price | currency: 'USD' : 'symbol'}}</span>
                    </div>
                    <div class="row">
                        <h5 class="descriptionTitle">Details: <span class="descriptionText">{{prd?.description}}</span>
                        </h5>
                    </div>
                    <div class="row">
                        <span class="quantity">{{prd?.rating?.count}} Items Available</span>
                    </div>
                    <div class="row">
                        <h5>Rate:
                            <span class="rate">{{prd?.rating?.rate}}</span>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>